name: CI

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
    tags:
      - v*
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python "3.13"
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Lint with lintrunner
      uses: justinchuby/lintrunner-action@main

  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python_version: ["3.9", "3.10", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        run: |
          pip install -r requirements/ci/requirements.txt
          pip install -e .
      - name: Run tests
        run: |
          pytest --cov=src --cov-report=xml --cov-branch --junitxml junit.xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: justinchuby/onnx-shape-inference

  build:
    name: Build
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Python build dependencies
        run: |
          pip install build wheel
      - name: Build wheels
        run: |
          python -m build
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        with:
          name: dist
          path: dist

  release:
    name: Release
    environment: release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs: [test, build]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: true
